<div class="tags">
  <h1>All Tags</h1>
    <div class="card-panel">
      <ol>
        <% @tags.each do |tag| %>
          <li>
            <%= tag.name %>
          </li>
        <% end %>
      </ol>
    </div>
  <a id="back-arrow" class="btn teal white-text" href="<%= articles_path %>"><i class='material-icons'>arrow_back</i> Articles</a>
</div>
