// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.articles-header {
  text-align: center;
  font-family: 'Prociono', serif;
  color:	#505050;
  text-decoration: underline;
}

#articles-row {
  width: 90%;
}

.articles-card {
  width: 32% !important;
  margin-left: 15px;
  margin-right: 15px;
}

.icons{
  display: flex;
  flex-direction: row;
}

.controls {
  margin-right: 10px;
}

.new-form, .show-form {
  margin-left: 400px;
  margin-right:  400px;
}

#newform-submit {
  width: 0px;
}
