 <nav>
    <div class="nav-wrapper">
      <a href="<%= articles_path %>" class="brand-logo">Blogga</a>
        <div class="articles-link">
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li class="waves-effect" id="new-article-link" ><%= link_to "Create New Article", new_article_path, class: "new_article" %></li>
        <li class="waves-effect" id="tag-link"><%= link_to "Tags", tags_path, class: "new_article" %></li>
      </ul>
    </div>
    </div>
  </nav>




